

// .main-body {
//     display: grid;
//     grid-template-columns: [left-s] 500px [left-e mid-s] 1fr [mid-e right-s] 500px [right-e];
//     grid-template-rows: repeat(10, 10vh);
// }

#needle{
    // position: absolute;
    // padding-left: 500px;
    position: absolute;
    top: 555px;
    right: 145px;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}

#needle:hover {
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
}

.needle-norm{

    width: 240px;
    height: 140px;
}

.needle-up {
    transition: all 2s ease;
    // transform: scale(1.2);
    width: 250px;
    height: 150px;

    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;

    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

#needleNum {
    position: absolute;
    top: 585px;
    right: 405px;
}